.reddit, .yahoo, .twitter{
    text-align: left;
}

.column{
    float: left;
    padding-top: 10px;
}

.left{
    width: 25%;
    /* background-color: lightgrey; */
}

.right{
    width: 75%;
    /* background-color: green; */
}

.search-bar{
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 0px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}