
p{
    text-align: right;
}

.pointer{
    margin-top: -45px;
    width: 8px;
    height: 60px;
    border-radius: 5px;
    background-color: black;
}

.sentiment-box{
    height: 40px;
    margin-top: 20px; /* Add space above the sentiment box */
    margin-bottom: 20px;
}

.sentiment-range{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}